:root {
  --green: rgb(101, 46, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 1.1rem 0;
}

header h2 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  /* padding: 0.5rem 0; */
}

.logo {
  font-size: 1.5em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
}

main {
  padding: 0 1rem;
}

.drug-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgb(99, 112, 174);
}

.drug-form form {
  display: flex;
  justify-content: center;
}

.drug-form input {
  margin-right: 2rem;
  flex: 1;
}

.drug-form button {
  width: 150px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
  font-size: larger;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.5em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  display:grid;
}

.card img {
  width: 150%;
}

.card button {
  margin-top: 0.5rem;
}

.emoji-button.delete {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  text-shadow: #5e1a5c;
  cursor: pointer;
}


@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
    font-size: larger;
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
}

nav a {
  display: inline;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(101, 46, 99);
  border-bottom: 2px solid rgb(101, 46, 99);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: rgb(28, 4, 54);
  border-bottom: 2px solid rgb(28, 4, 54);
}